<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Examples</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <link href="" rel="stylesheet"></head>

<body ng-app="selectDemoBasic">

  <div ng-controller="AppCtrl as ctrl" class="md-padding">
    <div>
      <h1 class="md-title">Enter an address</h1>
      <div layout="row">
        <md-input-container>
          <label>Street Name</label>
          <input type="text"/>
        </md-input-container>
        <md-input-container>
          <label>City</label>
          <input type="text"/>
        </md-input-container>
        <md-select placeholder="State" ng-model="ctrl.userState">
          <md-option ng-repeat="state in ctrl.states" value="{{state.abbrev}}">{{state.abbrev}}</md-option>
        </md-select>
      </div>
    </div>
  </div>

  <div ng-controller="SelectOptGroupController" class="md-padding">
    <div>
      <h1 class="md-title">Pick your pizza below</h1>
      <div layout="row">
        <md-select ng-model="size" placeholder="Size">
          <md-option ng-repeat="size in sizes" value="{{size}}">{{size}}</md-option>
        </md-select>
        <md-select ng-model="topping" placeholder="Topping">
          <md-optgroup label="Meats">
            <md-option ng-value="topping.name" ng-repeat="topping in toppings | filter: {category: 'meat' }">{{topping.name}}</md-option>
          </md-optgroup>
          <md-optgroup label="Veggies">
            <md-option ng-value="topping.name" ng-repeat="topping in toppings | filter: {category: 'veg' }">{{topping.name}}</md-option>
          </md-optgroup>
        </md-select>
      </div>
      <p ng-if="topping">
        You ordered a {{size.toLowerCase()}} pizza with {{topping.toLowerCase()}}.
      </p>
    </div>
  </div>

  <!-- async select -->
  <h1>async select</h1>
  <div ng-controller="SelectAsyncController" layout="column" layout-align="center center" style="padding:40px">
    <p>
      Select can call an arbitrary function on show. If this function returns a promise, it will display a loading indicator while it is being resolved:
    </p>
    <div layout="column" layout-align="center center" style="height: 100px;">
      <md-select ng-model="user" md-on-open="loadUsers()" style="min-width: 200px;">
        <md-select-label>{{ user ? user.name : 'Assign to user' }}</md-select-label>
        <md-option ng-value="user" ng-repeat="user in users">{{user.name}}</md-option>
      </md-select>
      <p class="md-caption">
        You have assigned the task to: {{ user ? user.name : 'No one yet' }}
      </p>
    </div>
  </div>

  <!-- pick -->
  <div ng-controller="AppCtrl" layout="column" layout-align="center center" style="min-height: 300px;">
    <form name="myForm">
      <p>Note that invalid styling only applies if invalid and dirty</p>
      <md-input-container>
        <md-select name="myModel" placeholder="Pick" ng-model="myModel" required>
          <!-- <md-option value="1">One</md-option>
          <md-option value="2">Two</md-option> -->
        <md-option ng-value="item.value" ng-repeat="item in items">{{ item.name }}</md-option>
        </md-select>
        <div class="errors" ng-messages="myForm.myModel.$error" ng-if="myForm.$dirty">
          <div ng-message="required">Required</div>
        </div>
      </md-input-container>
      <div layout="row">
        <md-button ng-click="clearValue()" ng-disabled="!myModel" style="margin-right: 20px;">Clear</md-button>
        <md-button ng-click="save()" ng-disabled="myForm.$invalid" class="md-primary" layout layout-align="center end">Save</md-button>
      </div>
    </form>
  </div>

  <!-- Angular Material Dependencies -->
  <link rel="stylesheet" href="../angularjs/angular-material.css">
  <script src="../angularjs/angular.js"></script>
  <script src="../angularjs/angular-animate.js"></script>
  <script src="../angularjs/angular-aria.js"></script>
  <script src="../angularjs/angular-material.js"></script>
  <script src="../angularjs/angular-messages.js"></script>
  <script src="select.js"></script>

  <style>
.radioButtondemoBasicUsage body {
  padding: 20px; }
.radioButtondemoBasicUsage hr {
  margin-left: -20px;
  opacity: 0.3; }
.radioButtondemoBasicUsage md-radio-group {
  width: 150px; }
.radioButtondemoBasicUsage p:last-child {
  padding-bottom: 50px; }
.radioButtondemoBasicUsage [ng-controller] {
  padding-left: 20px; }
.radioButtondemoBasicUsage .radioValue {
  margin-left: 5px;
  color: #0f9d58;
  font-weight: bold;
  padding: 5px; }
.radioButtondemoBasicUsage md-icon {
  margin: 20px;
  margin-top: 0;
  width: 128px;
  height: 128px; }
  </style>
</body>
</html>